.page{
    padding: 3vh 5vw;
}

.title{
    padding-left: 3vw;
    width: fit-content;
    font-size: 2.5em;
    padding-right: .5em;
    padding-bottom: .2em;
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary)
}

.main{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
}
.postList{
    padding-top: 2em;
    width: 60vw;
    height: 100vh;
}

.aside{
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-left: .5px solid var(--primary);
}

.categoryHeader{
    font-size: 1.4em;
    margin: .5em 1em; 
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer{
    position: relative;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    transition: .3s ease all;
}

.imageContainer:hover{
    filter: brightness(103%) saturate(1.4)
}

.description{
    margin: 1em 1.5em;
}


.categoryCard{
    position: relative;
    z-index: 0;
    width: 90%;
    height: 200px;
    margin: 1em auto .5em;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease all;
}

.categoryCard:hover{
    transform: scale(1.02);
    filter: brightness(103%) saturate(1.3)
}
