
.imageContainer{
    overflow: hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    height: 250px;
    width: 350px;
    transition: .3s ease all;
}

.imageContainer:hover{
    filter: brightness(103%) saturate(1.4)
}

.title{
    margin-bottom: .3em;
}

.content{
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview{
    max-width: 28vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noPostsAvailable{
    margin: 0;
    font-weight: normal;
    margin-left: 2em;

}

@media screen and (max-width: 1000px) {
    .preview{
        max-width: 40vw;
    }
}


@media screen and (max-width: 550px) {
    .imageContainer{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
    }
    .preview{
        max-width: 75vw;
    }
}

