.container{
    width: 86vw;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.refresh{
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 0;
}

.postList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.post{
    width: 42vw;
    margin-bottom: 4vh;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .postList{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .post{
        width: 100%;
    }
}