.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
}

.buttonContainer{
    border-bottom: 1px solid var(--primary)
}

.authGroup{
    margin-right: 5vw;
}