.notification{
    width: 44vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-top: .5em;
}

.header{
    display: flex;
    align-items: center;
}

.title{
    font-weight: normal;
    margin: 1em .5em .5em;
    padding-bottom: .5em;
    border-bottom: .5px solid rgba(0,0,0,.3)
}

.postTitle{
    font-style: italic;
    font-size: 1.3em;
    margin: .2em 0 0em 3em;
}

.footer{
    margin: .5em 0 .2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
}

.footer p{
    margin: 0;
}

.delete{
    position: absolute;
    padding: 1px;
    top: 2px;
    right: 1px;
}

@media screen and (max-width: 1000px) {
    .notification{
        width: 100%;
    }
}