html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lusitana', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
  --primary: #0a3542;
  --primaryTransparent: rgba(10, 53, 66, .3);
  --primaryLight: #0f4c5f;
  --secondaryDark: #c2af80;
  --secondary: #f4e5be;
  --secondaryTransparent: rgba(244, 229, 190, .4);
  --secondaryTransparent2: rgba(244, 229, 190, .7);
  --background: #fafafa;
  --backgroundAlt: #f5f5f5;
  --lightTransparent: rgba(250, 250, 250, .3);
  --darkTransparent: rgba(0,0,0,.6);
  --text:  #0a3542;
  --shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --lightShadow: 0px 0px 5px -1px rgb(0 0 0 / 20%), 0px 0px 5px 0px rgb(0 0 0 / 14%), 0px 0px 8px 0px rgb(0 0 0 / 12%);
  --shadowHeavy: 1px 1px 3px 3px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 5px 6px 0px rgb(0 0 0 / 12%);
  --twitter: #1DA1F2;
  --facebook: #4267B2;
  --pinterest: #c8232c;
  --instagram: #E1306C;
  --googleRed: #DB4437;
  --googleBlue: #4285F4;
  --googleYellow: #F4B400;
  --googleGreen: #0F9D58;
}

.notFoundPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.notFoundContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFoundButtonGroup{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pageGradient{
  background-color: #F4E5BE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7f0dc'/%3E%3Cstop offset='1' stop-color='%23f7f0dc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7f0dc'/%3E%3Cstop offset='1' stop-color='%23f7f0dc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23fafafa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4E5BE'/%3E%3Cstop offset='1' stop-color='%23F4E5BE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FAFAFA'/%3E%3Cstop offset='1' stop-color='%23FAFAFA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FAFAFA'/%3E%3Cstop offset='1' stop-color='%23FAFAFA' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}



.fc{
  display: flex;
  flex-direction: column;
}

.fcsb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fcje{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
 
.fr{
  display: flex;
  flex-direction: row;
}

.frac{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.asc{
  align-self: center;
}

.asfe{
  align-self: flex-end;
}

.asfs{
  align-self: flex-start;
}

.frab{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.frsb{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.frse{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}