.container{
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    padding-top: 2vh;
    margin-right: 1%;
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    cursor: pointer;
    overflow: hidden;
}

.avatar img{
    object-fit: cover;
    object-position: center;
}

.name{
    margin: 0
}

.date{
    margin: 0
}

.header{
    margin: 1vh 0 2vh 2vw;
    padding-right: 1em;
    font-weight: normal;
    display: flex;
}

.title{
    font-style: oblique;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
}

.post{
    margin: 0 1em 1em 2em;
    cursor: pointer;
}


.authorDetails{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    margin-left: 2vw;
}

.postDetails{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}


@media screen and (max-width: 1250px) {
    .postDetails{
        width: 100%
    }
}

@media screen and (max-width: 1100px) {
    .container{
        width: 100%;
        margin-right: 0;
    }
    .postDetails{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .postDetails{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .postDetails{
        justify-content: flex-start;
        align-items: center;
    }
    .post{
        margin-left: .5em;
    }
    .authorDetails{
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .authorDetails{
        flex-direction: column;
    }
    .header{
        justify-content: center;
    }
}

