.page{
    padding: 5vh 5vw;
    min-height: 80vh;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.name{
    font-weight: normal;
    font-size: 2em;
    margin: 0 0 0 .3em;
}

.tabs{
    margin-top: 3vh;
}


@media screen and (max-width: 600px) {
    .user{
        flex-direction: column;
    }
    .tabs{
        margin-top: 0;
    }
}