.modal{
    height: 15vh;
    min-height: 100px;
    padding-bottom: 3vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.search{
    width: 80vw;
    margin-bottom: 1vh;
}

.close{
    position: absolute;
    right: 5px;
    top: 5px;
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: max(21vh, 110px);
    width: 90vw;
    height: 75vh;
    overflow-y: scroll;
    padding-bottom: 1vh
}

.noResults{
    color: var(--background);
    width: fit-content;
    border-bottom: 2px solid var(--secondary);
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 5px;
    padding-right: 20px;
}

@media screen and (min-width: 600px) {
    .modal{
        height: 20vh;
    }
    .search{
        width: 70vw;
    }
    .resultsContainer{
        width: 80vw;
    }
}

@media screen and (min-width: 800px) {
    .search{
        width: 60vw;
    }
    .resultsContainer{
        width: 70vw;
    }
}

@media screen and (min-width: 1000px) {
    .search{
        width: 50vw;
    }
    .resultsContainer{
        width: 50vw;
    }
}